.Rproj.user
.Rhistory
.RData
.Ruserdata
public_work.Rproj
.gitignore
manually_delete_file_git
Classes/Homework/Functional Equations Ind. Study/rsconnect/

Classes/Old Qualifying Exams/My Solutions/rsconnect/documents/My Solutions to Algebra-Analysis Qual.Rmd/rpubs.com/rpubs/Publish Document.dcf

Classes/Old Qualifying Exams/My Solutions/rsconnect/

gradwork.Rproj